<div class="{{backgroundColor}} inverted overflow-hidden">
    <div class="container d-flex flex-column min-vh-100">
        <div class="row my-auto justify-content-center">
            <div class="col-6 text-center">
                <div id="header">
                    <span class="text-white">{{name}}</span>
                </div>

                <div id="body" class="d-flex flex-row align-items-center justify-content-evenly">
                    <div *ngIf="!isAnyTimerRunning" id="controllers" class="d-flex flex-column">
                        <div id="increase-button" holdable (holdTime)="increaseMinutes()">
                            <i class="bi bi-caret-up-fill"></i>
                        </div>
                        <div id="decrease-button" holdable (holdTime)="decreaseMinutes()">
                            <i class="bi bi-caret-down-fill"></i>
                        </div>
                    </div>

                    <div id="timer" class="d-flex align-items-baseline">
                        <span id="time" class="text-white">
                            {{minutes}}
                            <span *ngIf="isRunning || isAnyTimerRunning">: {{seconds}}</span>
                        </span>
                        <span *ngIf="!isRunning && !isAnyTimerRunning" id="text" class="text-white">
                            minute<span *ngIf="currentTime.minutes > 1">s</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>